.menu {
    border-bottom: 1px solid $line;
}

#logo {
    height: 20px;
}

.input-group {
    .form-control {
        border-radius: 30px;
        &::placeholder {
            color: #AAAAAA;
        }
    }
    button {
        border-radius: 30px;
    }
}

.account-items {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    a {
        text-decoration: none;
        color: #000;
        &:hover {
            color: #AAA;
        }
    }
}

.menu-buttons {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-buttons {
    .dropdown {
        button {
            border-radius: 0;
        }
        .btn.show, .btn:active {
            background-color: $secondary;
            color: $primary;
        }
    }
}

@media (min-width: 768px) {

.account-items {
    display: block;
    margin-top: 0;
}

}

@media (min-width: 1024px) {

.my-account {
    margin-right: 1.5rem;
}
               
}