.subscribe {
    background-color: $lightGray;
    height: 300px;
    .subscribe-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // .subscribe-image {
        //     display: none;
        // }
    }
}

// @media (min-width: 768px) {

// .subscribe-image {
//     display: block;
// }

// }