// colors
$primary: #20D3C2;
$secondary: #0E153D;
$themeLight: #50546E;
$themeOpacity: #20D3C214;
$darkGray: #AAAAAA;
$lightGray: #F6F6F6;
$line: #E3E3E3;
$gridBox: #CCCCCC;
$instock: #82D8C6;
$outstock: #FE6C6C;
$footer: #080C24;

// text
$textDark: #0E153D;
$textLight: #FFFFFF;